header > h1 {
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    background: rgb(59,110,196);
    background: linear-gradient(90deg, rgba(59,110,196,1) 0%, rgba(34,3,84,1) 100%);
}

main {
    padding-top: 1vh;
}

main h1 {
    font-weight: bold;
}